.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1em 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.admin-app {
    font-size: 1.5rem;
    font-weight: bold;
    color: #c0392b;
}

.admin-links {
    display: flex;
}

.admin-link {
    color: #333;
    text-decoration: none;
    margin: 0 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-link:hover {
    background-color: #c0392b;
    color: #ffffff;
}

.admin-dash {
    color: white;
    text-decoration: none;
}

.admin-dash:hover {
    color: black;
}

.client-books {
    color: white;
    text-decoration: none;
}

.client-books:hover {
    color: black;
}

/* Responsive styles */
@media (max-width: 768px) {
    .admin-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .admin-links {
        flex-direction: column;
        width: 100%;
    }

    .admin-link {
        margin: 0.5em 0;
        width: 100%;
        text-align: center;
    }
}